*{
	box-sizing: content-box;
}
html, body{
	line-height: 1.2;
}
input[type="text"]{
	line-height: initial;
}
label{
	display: inline;
}
input[type="button"],
input[type="submit"],
button[type="button"],
button[type="submit"],
.admin-panel,
.admin-panel *,
.admin-container,
.admin-container *,
.form-horizontal,
.form-horizontal *,
.detailview *,
.dashboard-customization *,
.form-popup .scroller *,
.change-content,
#_DIALOG_LAYER *:not(.advTcount),
#_DIALOG_LAYER #inc_add_fields .tab_content input[type="text"], 
#_DIALOG_LAYER #inc_add_fields .tab_content select, 
#_DIALOG_LAYER #inc_add_fields .tab_content textarea {
	box-sizing: border-box;
}
.admin-panel label,
.admin-container label,
.form-horizontal label,
.detailview label,
.dashboard-customization label{
	display: inline-block;
}
.form-horizontal .bulk-select-options label {
	display:inline;
}
.selfservice-portal-body  label.left-inner-addon.input-group,.dashboard-customization label.left-inner-addon.input-group { /*for dashbaord new widget label*/
	display: table;
}
.dialog-content{
	line-height: 1.42857143;
}
a,
a:hover,
a:active,
a:focus{
	text-decoration: none;
}
label, .label{
	color: inherit;
	font-weight: inherit;
	margin-bottom: 0;
}
.listview table{
	/*border-collapse: collapse;*/
	border-spacing: 0;
}
table{
	border-collapse: separate;
	border-spacing: 2px;
}
/* table cellspacing and cellpadding */
table[cellspacing="0"],
table[border="0"]{
	border-spacing: 0;
}
table[cellspacing="1"]{
	border-spacing: 1px;
}
table[cellspacing="2"]{
	border-spacing: 2px;
}
table[cellspacing="3"]{
	border-spacing: 3px;
}
table[cellspacing="4"]{
	border-spacing: 4px;
}
table[cellspacing="5"]{
	border-spacing: 5px;
}
table[cellspacing="6"]{
	border-spacing: 6px;
}
table[cellspacing="7"]{
	border-spacing: 7px;
}
table[cellspacing="8"]{
	border-spacing: 8px;
}
table[cellspacing="9"]{
	border-spacing: 9px;
}
table[cellspacing="10"]{
	border-spacing: 10px;
}
table[cellpadding="1"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="1"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 1px;
}
table[cellpadding="2"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="2"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 2px;
}
table[cellpadding="3"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="3"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 3px;
}
table[cellpadding="4"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="4"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 4px;
}
table[cellpadding="5"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="5"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 5px;
}
table[cellpadding="6"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="6"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 6px;
}
table[cellpadding="7"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="7"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 7px;
}
table[cellpadding="8"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="8"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 8px;
}
table[cellpadding="9"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="9"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 9px;
}
table[cellpadding="10"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="10"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 10px;
}
table[cellpadding="15"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="15"] > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 15px;
}
table[cellpadding="20"]:not(.tableComponent) > tbody > tr > th,
table[cellpadding="20"]:not(.tableComponent) > tbody > tr > td:not(.FormLabel):not(.formlabel):not(.Formlabel):not(.formLabel){
	padding: 20px;
}
table:not([cellpadding]) td{
	padding: 1px 0;
}
table.nopadding[cellpadding] td{
	padding: 0;
}
table.left-nav-boxbrd2,table.left-nav-boxbrd {
	box-sizing: border-box;
}
/* barcode */
.count{
	font-size: inherit;
}
.bc-sucess .count,
.bc-failure .count,
.bc-sep .count{
	font-size: 50px;
}
/* Remove class="h3" in predefined views */
#ProjectsFilterMenuList > .h3{
	font-size: inherit;
	margin: 0;
}
/**/
.tablelist .ui-sortable tr{
	cursor: default;
}
#ui-framework-design1 .ui-editform td.ui-formsubmit, div.ui-formsubmit{
	height: auto;
}
select {
    display: inline-block;
    vertical-align: initial;
    width: auto;
}
/*sdp-style-new.css  CMDB*/
.org-roles-wrap {
	max-width: 100%;
}
/*all list view  overwrite for bootstrap.css,sdp-bootstrap-includes.css */
input[type="radio"], input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
}
/*all datetime calender icon*//*ui-framework.css*/
#ui-framework-design1 .ui-formdate-cnt .ui-input-dateicon1, #ui-framework-design1 .ui-formdate-cnt2 .ui-input-dateicon1 {
	top: 0;
}
/* sdp-bootstrap-includes.css */
.h5, h5 {
	padding: 0 !important;
	background: none;
}
/* Asset tab software summary */
.container {
    width: 100%;
}
/* assets tab overwrite bootstrap.css file */
legend {
    display: inline-block;
    width: auto;
    font-size: 13px;
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
/*sdStyle.css*/
.goarwbtn {
	height: 20px;
}
img.advsearch-icon {
	margin-top: 0 !important;
}
.padt10 {
    padding-top: 10px !important;
}
.p0px5px0px40px {
    padding: 0px 5px 0px 40px !important;
}
.sc-additional-fields .advTcount {
	height: 36px;
}
/*sdStyle_LTR.css*/
.fontHead, .fonthead {
	padding: 10px 3px 4px !important;
}
.dragOK {
	padding-right: 15px !important;
}
.pleft6 {
    padding-left: 6px !important;
}
.pright12 {
    padding-left: 12px !important;
}
.leftPadding15 {
    padding-left: 15px !important;
}
/*ui-framework.css*/
.ptop1 {
	padding-top: 2px !important;
}
.ptop2 {
	padding-top: 1px !important;
}
.ptop3 {
	padding-top: 3px !important;
}
.ptop4 {
	padding-top: 4px !important;
}
.ptop5 {
	padding-top: 5px!important;
}
.ptop6 {
	padding-top: 6px !important;
}
.ptop7 {
	padding-top: 7px !important;
}
.ptop8 {
	padding-top: 8px !important;
}
.ptop10 {
	padding-top: 10px!important;
}
.ptop11 {
	padding-top: 11px !important;
}
.ptop14 {
	padding-top: 14px !important;
}
.ptop15 {
	padding-top: 15px !important;
}
.mbottom4 {
	margin-bottom: 4px !important;
}
.mbottom5 {
	margin-bottom: 5px !important;
}
.mbottom8 {
	margin-bottom:8px !important;
}
.pbottom1 {
	padding-bottom: 1px !important;
}
.pbottom2 {
	padding-bottom: 2px !important;
}
.pbottom5 {
	padding-bottom: 5px !important;
}
.pbottom7 {
	padding-bottom: 7px !important;
}
.pbottom10 {
	padding-bottom: 10px !important;
}
.pbottom15 {
	padding-bottom:15px !important;
}
.p2px0px {
	padding: 2px 0px !important;
}
.p7px0px {
	padding: 7px 0px !important;
}
.p8px11px {
	padding: 8px 11px !important;
}
.p10px0px {
	padding: 10px 0px !important;
}
.p0px10px {
	padding: 0px 10px !important;
}
.p0px4px {
	padding: 0px 4px !important;
}
.p2px10px {
	padding: 2px 10px !important;
}
.p0px30px {
	padding: 0px 30px !important;
}
.p30px10px {
	padding: 30px 10px !important;
}
.p0px51px {
	padding: 0px 51px !important;
}
.p5px5px5px30px {
	padding: 5px 30px 5px 5px !important;
}
.zrhelpemailidatkey {
	top: 0;
}
#ui-framework-design1 .ui-listnav-countfilter .countfilter {
	padding: 0;
}
.p22px18px {
    padding: 22px 18px !important;
}
/*common-style.css*/
.pad1 {
	padding: 1px !important;
}
.pad2 {
	padding: 2px !important;
}
.pad3 {
	padding: 3px !important;
}
.pad4 {
	padding: 4px !important;
}
.pad5 {
	padding: 5px !important;
}
.pad6 {
	padding: 6px !important;
}
.pad7 {
	padding: 7px !important;
}
.pad8 {
	padding: 8px !important;
}
.pad9 {
	padding: 9px !important;
}
.pad10 {
	padding: 10px !important;
}
.pad14 {
	padding: 14px !important;
}
.pad17 {
	padding: 17px !important;
}
.pleft7 {
    padding-left: 7px !important;
}
#advancesearch select{ height:28px;}
#SolutionNavigatorDiv .pad8 {
    padding: 0 !important;
}
.p1px10px {
    padding: 1px 10px !important;
}
.remotcontrol-shdr {
	padding-left: 25px !important;
}
.remotcontrol-bbdr {
	padding-top: 8px !important;
}
.rcontrol-hdr img {
	vertical-align: baseline;
}
.blueHbg11 {
	padding-left: 10px !important;
}
/*common-style.css*/
#SWCATEGORYVIEW_TABLE .formselectboxw {
    width: 225px;
}
/*project top menu bar*/
#ProjectListView_NAV .ui-listnav-countfilter-pos {
	top: 1px;
}
/* import project */
.helpcard-content .table-bordered.helpcard-table {
	border-collapse: collapse;
}
/*Import project close button*/
.import-body .alert-dialog-ui1 .header span:first-child {
	opacity: 1;
}
/*project details view milestone, duedate*/
.statusbox .label {
	display: block;
	margin-bottom: 3px;
}
/*dashboard.less*/
.dashboard-customization .dashboard-refresh-status .h5,
.dashboard-customization .dashboard-refresh-status h5 {
	padding: 9px 15px !important;
}
.dashboardShared .fields {
    height: auto;
    border: none;
}
/*dashboard.css*/
.dbrdchtnotesh {
	color: #515151;
}
/*69677,69689 -- .widget-panel .content23 .ast .color_db td a { */
.widget-panel .content23 td a {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
.widget-panel .content23 .ast .color_db td {
	line-height: 1.42857143;
}
.btn .caret {
    margin-left: 5px;
}
/*aestyle.css*/
/*.lcnagreehrbg {
	padding: 0px 15px !important;
}*/
.lcesubhbggrd tr td {
    padding: 0px 5px !important;
}
.ptop44 {
    padding-top: 44px !important;
}
/*aestyle_LTR.css*/
.p020012 {
    padding: 0px 20px 0px 12px !important;
}
.credential-row {
	padding-top: 10px !important;
    padding-bottom: 10px !important;
}
/*change.css*/
.tblpl10 td {
	padding-left: 10px !important;
}
.change-tabview {
	padding: 11px 10px !important;
}
.dropfild-cbox .add-newfield-icon {
	vertical-align: inherit;
}
/*Own*/
.reportdetails td>p {
	margin: 13px 0;
}
.helpexp blockquote {
	padding: 0;
    margin: 13px 40px;
    font-size: 13px;
    border: none;
}
.imgalign .rowEven td,.imgalign .rowOdd td {
	vertical-align: middle;
}
.imgalign .rowEven td img,.imgalign .rowOdd td img {
	top: 0;
}
/*dragform.css*/
.padralr8 {
    padding-right: 8px !important;
}
.LeftPanelNotes {
	padding: 18px 4px 0px 8px !important;
}
.attribheadertxt2 {
	padding-bottom: 8px !important;
    padding-top: 32px !important;
}
/*aestyle_LTR.css*/
/*common-style.css*/
.p9px12px {
    padding: 9px 12px !important;
}
.pad015 {
    padding: 0px 15px !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {/*IE code*/
	.groupfieldset {
		margin-top: 10px;
	}
	.groupfieldset legend.DashboardTableColor {
		position: relative;
		top: -15px;
	}
}
@supports (-ms-ime-align:auto) {/*Edge code*/
	.groupfieldset {
		margin-top: 10px;
	}
	.groupfieldset legend.DashboardTableColor {
		position: relative;
		top: -15px;
	}
}
/*aestyle.css*/
div.progress {
	overflow: inherit;
	box-shadow: none;
}
/*solutions.css*/
#ui-framework-design1 .sug-serch-menu {
	top: 29px;
}
/*bgcolor*/
table[bgcolor="#FFFFFF"],table[bgcolor="#FFF"] {
	background-color: #FFF;
}
table[bgcolor="#CCCCCC"],table[bgcolor="#CCC"] {
	background-color: #CCC;
}
table[bgcolor="#000000"],table[bgcolor="#000"] {
	background-color: #000;
}
table[bgcolor="#C8E0F2"] {
	background-color:  #C8E0F2;
}
table[bgcolor="#C0C0C0"] {
	background-color:  #C0C0C0;
}
table[bgcolor="#FFFFCC"] {
	background-color:  #FFFFCC;
}
table[bgcolor="#FFCC33"] {
	background-color:  #FFCC33;
}
table[bgcolor="#F4F4F4"] {
	background-color:  #F4F4F4;
}
table[bgcolor="#F3F3F3"] {
	background-color:  #F3F3F3;
}
table[bgcolor="#E4E4E4"] {
	background-color:  #E4E4E4;
}
table[bgcolor="#D4E1D5"] {
	background-color:  #D4E1D5;
}
table[bgcolor="#C2DFD0"] {
	background-color:  #C2DFD0;
}
table[bgcolor="#3466A9"] {
	background-color:  #008ddd;
	background-color:  var(--link_tab_line_color, #008ddd);
}
table[bgcolor="#FFFF99"] {
	background-color:  #FFFF99;
}
table[bgcolor="#F1F1F1"] {
	background-color:  #F1F1F1;
}
table[bgcolor="#FAFAFA"] {
	background-color:  #FAFAFA;
}
/*Problem detaile page*/
#problemDetails img,#suggested_sln_list img,.wlt-start img,#TopicsPanel img.sol-teecor,#TaskForm img,#exceptionDiv img,.chgmanager-icn,td img.boxTR2,#ProDetails [type=image],td img.boxTL2,img.wlt-start, #advanceColumns img, #Left-Section .LeftNav-CIList img,#Left-Section .LeftNav-cmdb-headerbg img, .rved-values img, [name=ChangeInlineForm] img {
    vertical-align: baseline;
}
#ui-framework-design1 .ui-formdate-cnt .ui-input-dateicon1, #ui-framework-design1 .ui-formdate-cnt2 .ui-input-dateicon1 {
	top: 3px !important;
}
/** resolution in request detail page solution.css **/
.sug-serch-menu {
	top: 26px;
}
/*popup in solution solution.css*/
.addinference-popup h3 {
	font-size: 15px;
}
/*advancesearch choose input*/
#advancesearch .advsearch-input {
	width: 76.3%;
}
/*admin risk help card*/
#helpcoll td {
    padding: 0;
}
/*service categories h1 size*/
div#scatchooseicns h1, div#headercustom h1 {
	font-size: 23px;
}
/*asset module listview overlap*/
/* #CMDBListView_CT .tableComponent td {
    overflow: hidden;
    text-overflow: ellipsis;
} */
/*work log timer */
.wlt-head h4 {
	font-weight: bold;
}
.worklog-timer a.add-to-wl:before {
	left: -1px;
}
/*home page reminder*/
table#reminder h1 {
	font-weight: bold;
}
/*problem tab*/
#problemDetails .dd-child-ui1 .arrow {
	vertical-align: middle;
}
/*custom_style.css*/
.tableHead {
    padding: 4px !important;
}
.listViewTableHeader, .headerboldfont, .sectionHeader {
	padding: 0 !important;
}
.listViewTableHeader, .headerboldfont {
    padding-left: 10px !important;
}
.dsetalgn ul {
	padding: 0;
}
th.subtimeheader {
	text-align: center;
}
.dd-globalsearch .dropdown-toggle {
	min-width: 40px !important;
}
/*69715 -- contract import wizard*/
#xlsfile.workstationforminput {
	display: inline-block;
}
/*dashbaord asset view all list a tag color*/
#Dashboard .color_db a {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
/*69497 -- CMDB --> Populating CMDB */
table.cmdbtabhdertable td {
	padding: 0;
}
.cmdb-pop-tabright, .cmdb-pop-tableft {
    vertical-align: baseline;
}
/*69518 -- column chooser checking*/
.ccListTableInline table[cellpadding="5"] > tbody > tr > td {
	padding: 0;
}
/* .ccListTableInline, .ccListTableInline * {
	box-sizing: border-box;
} */
/*69527,69535 -- purchase*/
[name=InvoiceDetailsForm] *:not(.datePicker), [name=PaymentDetailsForm] *:not(.datePicker), [name=PoStatusChangeForm] *:not(.datePicker),
/*69671 -- solution */
[name=importXLSSolution] *,
/*69639,69682 -- all warnbox*/
.warnbox, .warnbox * {
	box-sizing: border-box;
}
/*69674 -- dashbaord*/
.dashboardwrapper .alert-dialog-ui1 .header span:first-child {
	opacity: 1;
}
/*69678 -- dashbaord*/
.dashboard-customization .external-wgt-form {
    white-space: nowrap;
}
/*69655 -- dropdown in field and form rule*/
#list_rules_view .menubar2 {
	position: relative;
    top: -3px;
}
#list_rules_view .menubar2 a.parent {
	line-height: 1;
}
#list_rules_view .menubar2 .actionscombo ul {
	top: 24px;
}
/*69655 -- dropdown in field and form rule*/
/*69691 -- dashbaord caret icon*/
.dashboard-refresh-status .btn .caret {
	margin-left: 0;
}
/*69755 -- asset software*/
#ui-framework-design1 .ui-formcombo {
	color: initial;
}
/*69759 -- request home*/
.requester-view .widget-helpservice-req a, .requester-view .widget-poratl-video a {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
.requester-view .widget-summaryrequests-list.iframe-widget-summaryrequests-list {
	padding: 10px !important;
}
/*69762 -- for IE*/
@-ms-viewport {
	width: auto !important;
}
/*69775 admin change and incident template*/
#dragArea_PH #FormDAC .customLayout td[colspan="7"] {
	padding: 0;
}
/*69781 field and form rules*/
#list_rules_view .frmfld-limd .editicon.edit-glyph a:before, .editicon a:before,#list_rules_view .frmfld-limd .exTmp-disabled {
	vertical-align: sub;
}
#list_rules_view .frmfld-limd .exTmp-enabled {
	vertical-align: middle;
}
/*69745 - Admin Configuration Item Type*/
.pright8 {
    padding-right: 8px !important;
}
/*software license button hover effect*/
#SWLICENSEAGREEMENT_TABLE.tableComponent a.btn-default:hover {
    text-decoration: none;
}
#SWLICENSEAGREEMENT_TABLE.tableComponent a.btn-primary:hover {
    color: #fff;
    text-decoration: none;
}
/* input date icon */
img.ui-dateicon1 {
    vertical-align: baseline;
}
.ui-dropmenu2 ul li a,#_DIALOG_LAYER .cmdbpoptabheader *,
#ui-framework-design1 ul.ui-formcontrols,
#ui-framework-design1 .tasks-history-details .history-toggleheader .history-date-curve .count,
#_DIALOG_LAYER .togglebtn-cnt,
#_DIALOG_LAYER .scaticnsn,
div#scatchooseicns ul.icnchoose li a,
#_DIALOG_LAYER img.close-dialog-icon,
#_DIALOG_LAYER span.close-dialog-icon/*Request ID : 71568*/ {
    box-sizing: content-box;
}
.fusioncharts-caption{
	font-size:13px !important;
}
/*Report Listview*/
.reporttablelist .oddRow, .reporttablelist .evenRow, .reporttablelist .oddrow, .reporttablelist .evenrow {
    background-color: #FFF;
    color: #000;
    height: 35px;
}
.reporttablelist td a {
    color: #333;
}
.reporttablelist td a:hover {
    color: #008ddd;
    color: var(--link_tab_line_color, #008ddd);
}
/*Self service portal preview*/
div#TopStrip {
	background: url('/images/bg_top_out.png') repeat-x left bottom transparent;
}
/*Common files*/
#licensesListView #ui-framework-design1 .wo-view-bg, #licensesListView #ui-framework-design1 .wo-view-bg td, #softwaredetailspage #ui-framework-design1 td {
	border: 0;
    outline: 0;
}
.tableHeader, .sortedTableHeader {
    text-align: left;
    background: #FCFCFC url('/images/ui-vertical-sprite.png') repeat-x 0px -22px;
    padding-bottom: 1px;
    position: relative;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    padding: 0 8px;
    white-space: nowrap;
    color: #515151;
    white-space: nowrap;
    height: 40px;
}
/*old listview*/

#ui-framework-design1 .tableComponent .tc-row .evenRow a, #ui-framework-design1 .tableComponent .tc-row .oddRow a {
	white-space: nowrap;
}
/*service template add resoure section*/
.sc-bg-layer .listview .tablelist {
    background: #FFF none repeat scroll 0 0;
    border: 1px solid #CCC;
}
.sc-bg-layer .listview .tablecomponent td, .sc-bg-layer .listview .tableComponent td {
    border-bottom: 1px solid #F1F1F1;
}
.sc-bg-layer .listview .tablecomponent tr:last-child td, .sc-bg-layer .listview .tableComponent tr:last-child td {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.sc-bg-layer .listview .tablecomponent tr:hover:not(.searchRow) td, .sc-bg-layer .listview .tableComponent tr:hover:not(.searchRow) td {
    background: #F5F5F5 none repeat scroll 0 0;
    border-bottom: 1px solid #F1F1F1;
}
.sc-bg-layer .listview .tablecomponent th, .sc-bg-layer .listview .tablecomponent .tableHeader {
	background-image: url('/images/ui-vertical-sprite.png');
    background-position: 0 -22px;
    background-repeat: repeat-x;
    background-color: #fcfcfc;
    padding-bottom: 1px;
    position: relative;
	padding: 5px !important;
	height: 40px;
}
.tableComponent.sccm-table {
	border:1px solid #ccc;
}
.tableComponent.sccm-table tr:hover td {
	background:#f5f5f5;
}
#proj-listview .tableComponent tr th.tableHeader a {/*project listview*/
    color: #000;
}
#ui-framework-design1 .filter-menu .dropdown-toggle div {
	font-weight: bold;
}
/* Flexigrid overwrites */
#ui-framework-design1 .flexigrid div.hDiv th div {
	font-weight: bold !important;
}
.flexigrid {
	font-size:100% !important;
}

/** Issue > SD-75016 : Assets workstation listview horizontal scroll increases continuously */
#Right-Section .whitebgBorder1 {
	box-sizing: border-box
}
.solutions_content.listview tr.tc-row:hover table td, .solutions_content tr.tc-row:last-child table td {/*solution listview*/
	border-bottom: none !important;
}
/*Solution Listview Attachment Section*/
#combined-task-view.solutionleftnav, .solutionleftnav .task-list-sb {
	width: 250px;
}
#combined-task-view.solutionleftnav.hide-sidebar {
	min-width: 10px;
	width: 0;
	padding: 0px;
	transition: width 0.5s ease 0s;
}
#SolutionsListForm tbody div.d_w table {
	line-height: 18px;
}
/*80204 -- Product Type Select Options UI issue fix*/
.producttypeoptions select.form-control {
	box-sizing: content-box;
    padding: 3px 1px 2px 2px;
}
/*#84447  Issue Fix*/
.ze_popupEditor textarea{
	resize: none;
}
/*#84448 issue fix*/
.resolutionTextarea blockquote, 
.textareadesc blockquote, 
.change-content blockquote,
.content-panel blockquote,
.survey-homepg blockquote,
#ui-framework-design1 blockquote
{
    padding: inherit;
    margin: 1em;
    font-size: inherit;
    border: inherit;
}
li.textcomplete-item>a {
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
}
table tr td .ui-detailed-desc a {
	color:#1a6ebd;
}